{% extends 'base.html.twig' %}

{% block title %}Hello ArticleController!{% endblock %}

{% block body %}
<h1>Page d'articles</h1>
<h1>Articles publiés</h1>

    {% if articles is empty %}
        <p>Aucun article disponible.</p>
    {% else %}
        {% for article in articles %}
            <article>
                <h2>{{ article.title }}</h2>

                <p>
                    Publié le {{ article.createdAt|date('d/m/Y') }}
                </p>

                <p>{{ article.content }}</p>

                <p>
                    Catégorie : {{ article.category.name }}
                </p>
            </article>
            <hr>
        {% endfor %}
    {% endif %}
{% endblock %}






